:root {
  --brown: #C58E4D;
  --darkbrown: #4B3414;
  --tan: #E7DFAE;
  --green: #978D4F;
}

body {
    background-color: var(--tan);
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}

main {
  text-align: center;
}
  
img {
  width: 50%;
  border: 8px double var(--green);
}

h1 a {
  display: block;
  background-color: var(--darkbrown);
  color: var(--tan);
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
  transition: 0.5s;
}

h1 a:hover {
  color: var(--brown);
  letter-spacing: 10px;
}

h2 {
  color: var(--darkbrown);
  font-weight: bold;
}

h5 {
  font-size: 1.8rem;
  color: var(--green);
  font-weight: bold;
  margin-bottom: 0;
}

.newButton {
  background-color: var(--green);
  color: var(--darkbrown);
  border: 2px solid var(--darkbrown);
}

.newButton:hover {
  background-color: var(--darkbrown);
  color: var(--brown);
}

.deleteButton {
  display: inline-block;
}

.editButton {
  display: inline-block;
  background-color: var(--darkbrown);
  color: var(--tan);
  border: 2px solid var(--green);
  margin-right: 0.5rem;
}

.editButton:hover {
  background-color: var(--green);
  color: var(--darkbrown);
}

.deleteButton {
  display: inline-block;
}

.deleteButton input{
  background-color: var(--darkbrown);
  color: var(--tan);
  border: 2px solid var(--green);
}

.deleteButton input:hover{
  background-color: var(--green);
  color: var(--darkbrown);
}

.bread-list {margin: 1.5rem;}

.bread-list li, .bread-list li a {
  list-style: none;
  color: var(--darkbrown);
  text-decoration: none;
  transition: 0.5s;
}

.bread-list li a:hover {
  color: var(--green);
  letter-spacing: 3px;
}

.bread-attribute li {
  list-style: square;
}

.button-group {
  margin-top: 1.5rem;
  text-align: center;
}

.bakers {
  background-color: var(--green);
  color: var(--darkbrown);
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  border: 2px solid var(--darkbrown);
  border-radius: 1em;
}

.bakers:hover {
  color: var(--brown);
  background-color: var(--darkbrown);
}

input[type=submit] {
  background-color: var(--darkbrown);
  color: var(--tan);
}

input[type=submit]:hover {
  background-color: var(--green);
  color: var(--darkbrown);
}